.wrapper {
    font-family: "Roboto Thin", sans-serif;
    background: #fafafa;;
}

header {
    position: absolute;
    background: transparent;
    font-weight: bold;
}

.logo a {
    font-weight: normal;
    color: #3982a1;
}

.logo a:hover,
.main-navigation a:hover {
    color: #e7149d;
}

.main-navigation li .login-btn,
.main-navigation li .register-btn {
    font-family: "Roboto Thin", sans-serif;
    color: #3982a1;
    font-weight: 700;
}

.main-navigation .register-btn:before {
    margin-top: -5px;
}

.main-navigation li.current a:after {
    background-color: #3982a1;
}


/**
* ===================================================================
* intro
* -------------------------------------------------------------------
*/

.intro {
    background: url("images/imt-bg.jpg") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}

.intro-content {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 580px;
    display: flex;
    justify-content: space-between;
}

.intro-img {
    display: block;
    width: 168px;
    height: 168px;
    border-radius: 20px;
    user-select: none;
}

.intro-text {
    width: 380px;
}

.intro-text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    /*color: #e7149d;*/
    color: #3982a1;
    margin: 0 0 16px;
}

.intro-text p {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}


/**
* ===================================================================
* calculator
* -------------------------------------------------------------------
*/

.calculator-wrapper {
    width: 100%;
    background: #fafafa;
    border-radius: 4px;
    overflow: hidden;
    margin-top: -145px;
    overflow: visible;
    user-select: none;
}

.calculator {
    background: #fafafa;
    border-radius: 4px;
    padding: 40px 86px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 580px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.calculator-content {
    display: inline-block;
    position: relative;
    width: 100%;
}

.calculator-content .height,
.calculator-content .weight {
    position: relative;
    margin-bottom: 25px;
}

.calculator-content .height label,
.calculator-content .weight label {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 16px;
}

.calculator-content .height label span,
.calculator-content .weight label span {
    font-weight: 400;
    color: #9a9a9a;
    margin-left: 4px;
}

.calculator-content .height input,
.calculator-content .weight input {
    transition: all .3s ease;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    background: #fff;
    box-sizing: border-box;
}

.calculate-reset {
    margin-bottom: 16px;
    justify-content: space-between;
}

.calculate-reset,
.reset {
    display: flex;
    align-items: center;
}

.calculate {
    /*background: #3670f9;*/
    background: #3982a1;
    border-radius: 2px;
    width: 145px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0 16px 24px rgba(52,68,83,0.15);
    cursor: pointer;
}

.reset {
    font-size: 14px;
    line-height: 16px;
    /*color: #3670f9;*/
    color: #3982a1;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.reset img {
    margin-right: 8px;
}

.history {
    text-align: center;
    margin-top: 20px;
}

.history a {
    /*background: linear-gradient(to bottom, #337AB7 0%, #337AB7 100%);*/
    background: linear-gradient(to bottom, #3982a1 0%, #3982a1 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 1px 1px;
    /*color: #3670f9;*/
    color: #3982a1;
    text-decoration: none;
    padding-bottom: 2px;
}
.history a:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23337AB7' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-2,10,-2 s 5,2,10,2 c 5,0,5,-2,10,-2 s 5,2,10,2'/%3E%3C/svg%3E");
    background-position: 0 100%;
    background-size: auto 4px;
    background-repeat: repeat-x;
    text-decoration: none;
}


/**
* ===================================================================
* recommendation
* -------------------------------------------------------------------
*/

.hidden {
    display: none;
}

.recommendation {
    margin: 40px auto;
    padding-left: 15px;
    /*border-left: 8px solid #f5b9b9;*/
    border-left: 8px solid #e7149d;
}

.recommendation h3 {
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 28px;
}

.recommendation p {
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    text-align: left;
    margin: 0;
    color: #777;
    font-family: Cambria, Georgia, serif;
}


/**
* ===================================================================
* article
* -------------------------------------------------------------------
*/

.recommendation,
.article {
    width: 580px;
    font-family: "Raleway", sans-serif;
}

.article {
    margin: 20px auto 58px;
}

.article h3 {
    margin: 40px auto 16px;
    font-size: 24px;
    line-height: 28px;
}

.recommendation p,
.article p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 22px;
    text-align: justify;
}

.article .remark p {
    margin-bottom: 10px;
}

