.history {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.history td,
.history th {
    padding: 12px 16px;
    text-align: center;
}

.history thead tr {
    font-weight: bold;
    border-top: 1px solid #e8e9eb;
}

.history tr {
    border-bottom: 1px solid #e8e9eb;
}

.history tbody tr:hover {
    /*background: #e8f6ff;*/
    background: #e8ffee;
}