
/**
* ===================================================================
* header
* -------------------------------------------------------------------
*/

header {
	position: absolute;
	background-color: transparent;
}
/*
 .sticky {
 	position: fixed;
 	/*background: url(/styles/images/intro-bg.png) no-repeat top;
 	background-size: cover;*/
/*background-color: #fff;
}*/


/** 
 * ===================================================================
 * navigation
 * ------------------------------------------------------------------- 
 */
.nav {
	position: fixed;
	z-index: 2;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
}
.nav__item {
	width: 12px;
	height: 12px;
	display: block;
	margin: 12px auto;
	border: solid 2px black;
	border-radius: 50%;
	cursor: pointer;
}
.nav__item:hover {
	background-color: black;
}

/**
* ===================================================================
* intro section
* -------------------------------------------------------------------
*/

#intro {
	background: url(/styles/images/intro-bg.png) no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100%;
	min-height: 720px;
	/*background-attachment: fixed; прикольное свойство оставляющее картинку на месте при пролистывании*/
	display: flex;
}

#intro .content {
	display: flex;
	position: relative;
	align-items: center;
	text-align: center;
	max-width: 800px;
	margin: 90px auto;
}

#intro .content h1 {
	color: #FFFFFF;
	font-size: 5rem;
	text-shadow: 0 1px 0 #CAC8C8,
	0 2px 0 #C7C5C5,
	0 3px 0 #BBBABA,
	0 4px 0 #B7B6B6,
	0 5px 0 #A9A6A6,
	0 6px 1px rgba(0,0,0,.2),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.1),
	0 3px 5px rgba(0,0,0,.1),
	0 5px 10px rgba(0,0,0,.2),
	0 10px 10px rgba(0,0,0,.3),
	0 20px 20px rgba(0,0,0,.1);
}

.drop-down {
	border: solid #fff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(45deg);
	position: absolute;
	bottom: 50px;
	margin: 0 auto;
	cursor: pointer;
	animation-timing-function: linear;
	z-index: 100;
	left: 50%;
	animation: bounce 1s infinite;
}

.drop-down:before {
	content: "";
	width: 70px;
	height: 70px;
	position: absolute;
	z-index: 99999;
	transform: rotate(45deg);
	top: -20px;
	left: -20px;
}

@keyframes bounce {
	0% {
		bottom: 50px;
	}
	50% {
		bottom: 40px;
	}
	100% {
		bottom: 50px;
	}
}


/**
* ===================================================================
* about-us section
* -------------------------------------------------------------------
*/

#about-us {
	padding: 125px 125px 0;
	color: #212121;
	font-family: "Raleway", sans-serif;
}

#about-us .title {
	text-align: center;
	margin-bottom: 50px;
}
#about-us .title h2 {
	font-size: 30px;
	font-weight: bolder;
	margin-bottom: 35px;
}

#about-us p {
	font-size: 15px;
}

#about-us .list {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	/*display: block;
	padding: 10px 35px 0 50px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	list-style: none;*/
	position: relative;
	text-align: center;
	list-style: none;
}

#about-us .list .item {
	text-align: center;
	max-width: 450px;
	padding: 10px 55px 120px;
	/*width: 300px;
	height: 300px;
	margin: 0 15px 15px 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 10px 55px 120px;*/
}

@media screen and (max-width: 1600px) { #about-us .list .item { max-width: 350px; } }

#about-us .list .icon {
	height: 62px;
	margin-bottom: 40px;
}

#about-us .list h4 {
	margin-bottom: 27px;
	font-size: 20px;
	font-weight: bold;
}