
/**
* ===================================================================
* preloader
* -------------------------------------------------------------------
*/

/*@import url(https://fonts.googleapis.com/css?family=Dancing+Script);*/
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/*background-color: #674172;*/
	background-color: #105526;
	z-index: 9999999;
	height: 100%;
	width: 100%;
	text-align: center;
}

#loader {
	/*margin-top: 10%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -150px;
}
#loader h1 {
	font-family: Dancing Script;
	/*color: #BE90D4;*/
	color: #9bd490;
	font-size: 60px;
}

.load-wrapper {
	text-align: center;
	margin: 50px auto 0 auto;
	width: 200px;
	height: 200px;
	position: relative;
	-webkit-filter: url(#ball);
	filter: url(#ball);
}

.load-wrapper .ball {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	/*background-color: #DCC6E0;*/
	background-color: #cae0c6;
	position: absolute;
	top: 75px;
	left: 75px;
}
.load-wrapper .ball:nth-child(1) {
	animation: ball1 2s infinite;
}
.load-wrapper .ball:nth-child(2) {
	animation: ball2 1.5s infinite;
}
.load-wrapper .ball:nth-child(3) {
	animation: ball3 2.5s infinite;
}
.load-wrapper .ball:nth-child(4) {
	animation: ball4 1s infinite;
}

@keyframes ball1 {
	0% {
		transform: translateX(-35px);
	}
	40% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-35px);
	}
}
@keyframes ball2 {
	0% {
		transform: translateX(35px);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(35px);
	}
}
@keyframes ball3 {
	0% {
		transform: translateY(-35px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-35px);
	}
}
@keyframes ball4 {
	0% {
		transform: translateY(35px);
	}
	50% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(35px);
	}
}

.drop-shadow {
	width: 70px;
	height: 15px;
	background-color: rgba(44, 62, 80, 0.5);
	margin: 10px auto;
	border-radius: 50%;
	filter: blur(7px) contrast(30);
	animation: shadow 2s infinite;
}

@keyframes shadow {
	0% {
		transform: scaleY(1.2) scaleX(1.2);
	}
	30% {
		transform: scaleY(1.1) scaleX(1.1);
	}
	50% {
		transform: scaleY(1) scaleX(1);
	}
	30% {
		transform: scaleY(1.1) scaleX(1.1);
	}
	100% {
		transform: scaleY(1.2) scaleX(1.2);
	}
}


/**
* ===================================================================
* standart
* -------------------------------------------------------------------
*/


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

::selection {
	/*background: #048619;*/
	background: #105526;
	color: #fff;
}

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "Raleway", sans-serif;
	/*color: #252525;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 2.1rem;
    */
}

button, input, select {
	outline: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	max-width: 2000px;
	margin: auto;
	min-height: calc(100vh - 158px);
}

.error {
	position: absolute;
	z-index: 10;
	left: 50%;
	transform: translateX(-50%);

	/*font-family: Arial;
	font-weight: 400;
	border-radius: 5px;
	color: #fff;
	padding: 10px 14px 10px 44px;
	box-shadow: 0px 1px 5px #999;
	background-color: #8a9bab;*/

	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-top: 15px;
}

.error .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.error .closebtn:hover {
	color: black;
}

/**
* ===================================================================
* footer
* -------------------------------------------------------------------
*/

footer {
	max-width: 2000px;
	max-height: 158px;
	margin: auto;
}

.ft-top {
	width: 100%;
	height: 120px;
	background: url("images/footer-bg.jpg") no-repeat top;
}

.ft-bottom {
	background: #2f3034;
	/*background: #2e3641;*/
	color: #FFFFFF;
	font-family: Arial;
	padding: 20px;
	text-align: center;
}


/**
* ===================================================================
* header
* -------------------------------------------------------------------
*/

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 90px;
	background: #fff;
	z-index: 10;
	transition: all 0.3s;
	user-select: none;
	padding-top: 20px;
}
header a {
	text-decoration: none;
}
.sticky {
	height: 66px;
	padding-top: 0;
	border-bottom: .5px solid rgba(0, 0, 0, 0.3);
}

.container {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
}
header .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.logo, .main-navigation {
	display: flex;
	align-items: center;
	height: 66px;
}

.logo {
	margin-left: 20px;
}
.logo a {
	font-family: 'Lobster', cursive;
	color: #05bca9;
	font-size: 1.5rem;
	text-shadow: none;
}

#menu {
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
}

.main-navigation li {
	position: relative;
	margin-left: 20px;
	list-style: none;
}
.main-navigation li a {
	color: #98999a;
}
.main-navigation li a {
	display: block;
	font-family: "Raleway", sans-serif;
	font-size: 11.5px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
}

/*.logo a:hover,*/
.main-navigation a:hover {
	color: #fdc973;
	transition: all 0.3s ease-in-out;
	font-size: 12px;
}

.main-navigation li .login-btn,
.main-navigation li .register-btn {
	position: relative;
	background-color: transparent;
	border: none;
	color: #05bca9;
	cursor: pointer;
	font-weight: bold;
}

.main-navigation li .register-btn {
	padding-left: 13px;
	margin-left: -7px;
}
.main-navigation .register-btn:before {
	display: block;
	position: absolute;
	content: ' ';
	background-color: #98999a;
	width: 1px;
	height: 20px;
	left: 0;
	transition: all 0.3s ease-in-out;
	margin-top: -3.5px;
}

.main-navigation li.current a {
	padding: 26px 0;
}
.main-navigation li.current a:after {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: #05bca9;
	content: '\0020'; /*символ пробела Unicode*/
	transition: all 0.3s ease-in-out;
}

/*logo animation*/

@import url('https://fonts.googleapis.com/css?family=Anton|Roboto');
.word {
	/*
    font-family: 'Anton', sans-serif;
    perspective: 1000px;
    */
	font-family: 'Lobster', cursive;
	color: #05bca9;
	font-size: 1.5rem;
	text-shadow: none;
}

.word span {
	margin-right: -4px;
	cursor: pointer;
	display: inline-block;
	/*font-size: 30px;*/
	user-select: none;
	line-height: .8;
}

.word span:nth-child(1).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}
.word span:nth-child(6).active {
	animation: balance 1.5s ease-out;
	transform-origin: bottom left;
}

@keyframes balance {
	0%, 100% {
		transform: rotate(0deg);
	}

	30%, 60% {
		transform: rotate(-45deg);
	}
}

.word span:nth-child(2).active {
	animation: shrinkjump 1s ease-in-out;
	transform-origin: bottom center;
}

@keyframes shrinkjump {
	10%, 35% {
		transform: scale(2, .2) translate(0, 0);
	}

	45%, 50% {
		transform: scale(1) translate(0, -150px);
	}

	80% {
		transform: scale(1) translate(0, 0);
	}
}

.word span:nth-child(3).active {
	animation: falling 2s ease-out;
	transform-origin: bottom center;
}

@keyframes falling {
	12% {
		transform: rotateX(240deg);
	}

	24% {
		transform: rotateX(150deg);
	}

	36% {
		transform: rotateX(200deg);
	}

	48% {
		transform: rotateX(175deg);
	}

	60%, 85% {
		transform: rotateX(180deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}

.word span:nth-child(4).active {
	animation: rotate 1s ease-out;
}

@keyframes rotate {
	20%, 80% {
		transform: rotateY(180deg);
	}

	100% {
		transform: rotateY(360deg);
	}
}

.word span:nth-child(5).active {
	animation: toplong 1.5s linear;
}

@keyframes toplong {
	10%, 40% {
		transform: translateY(-48vh) scaleY(1);
	}

	90% {
		transform: translateY(-48vh) scaleY(4);
	}
}