body {
    color: #786450;
    font-family: "Open Sans", Helvetica, sans-serif;
}

header {
    background: transparent;
}

.profile-wrapper {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 580px;
    width: 100%;
    margin: 30px auto;
}

.profile {
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

.left-block {
    float: left;
    width: 400px;
    height: 330px;
    text-align: center;
}

.profile .image {
    position: relative;
    width: 70px;
    height: 70px;
    margin: 38px auto 0 auto;
}
.profile .image .circle-1,
.profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 76px;
    height: 76px;
    top: -3px;
    left: -3px;
    border-width: 1px;
    border-style: solid;
    border-color: #786450 #786450 #786450 transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
}
.profile .image .circle-2 {
    width: 82px;
    height: 82px;
    top: -6px;
    left: -6px;
    border-color: #786450 transparent #786450 #786450;
}
.profile .image img {
    display: block;
    border-radius: 50%;
    background: #F5E8DF;
}
.profile .image:hover {
    cursor: pointer;
}
.profile .image:hover .circle-1, .profile .image:hover .circle-2 {
    transform: rotate(360deg);
}
.profile .image:hover .circle-2 {
    transform: rotate(-360deg);
}

.profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
.profile .age {
    font-size: 11px;
    line-height: 15px;
}

.profile .actions {
    margin-top: 33px;
}
.profile .actions .btn {
    display: block;
    width: 160px;
    /*height: 30px;*/
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #786450;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: #786450;
    padding: 10px;
    text-decoration: none;
}
.profile .actions .btn:hover {
    background: #786450;
    color: #fff;
}

.stats {
    float: left;
}
.stats .box {
    box-sizing: border-box;
    width: 180px;
    height: 110px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 40px;
    transition: all 0.4s ease-in-out;
}
.stats .box:hover {
    background: #E1CFC2;
    cursor: pointer;
}
.stats .box:nth-child(2) {
    margin: 1px 0;
}
.stats span {
    display: block;
}
.stats .value {
    font-size: 18px;
    font-weight: 600;
}
.stats .parameter {
    font-size: 11px;
}