body {
    background: #3f51b5;
    /*background: #105526;*/
    font-family: 'Lato', sans-serif;
    user-select: none;
}

#sign-form {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
}

.form-title {
    color: #fafafa;
    margin-bottom: 50px;
    text-align: center;
}

.lblInp {
    position: relative;
    display: block;
    height: 48px;
    cursor: text;
}

.lblInp input,
.lblInp select {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    padding-left: 32px;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
    vertical-align: bottom;
    font-size: 16px;
    padding-right: 32px;
}
.lblInp input:focus,
.lblInp input.filled,
.lblInp select:focus,
.lblInp select.filled {
    height: 100%;
    outline: none;
}
.lblInp input:focus + label,
.lblInp input.filled + label,
.lblInp select:focus + label,
.lblInp select.filled + label {
    position: absolute;
    transform: translateY(-34px);
    font-size: 12px;
    color: rgba(255,255,255,0.6);
}
.lblInp input:focus + label + i,
.lblInp input.filled + label + i,
.lblInp select:focus + label + i,
.lblInp select.filled + label + i {
    transform: translateY(0px);
    visibility: visible;
    transition: transform 0.3s ease;
}
.lblInp input +label,
.lblInp select +label {
    color: #fff;
    line-height: 48px;
    padding-left: 3px;
    transform: translateY(0);
    transition: all 0.3s ease;
    pointer-events: none;
}
.lblInp input +label + i,
.lblInp select +label + i {
    position: absolute;
    display: block;
    visibility: hidden;
    left: 10px;
    transform: translateY(10px);
    color: #ddd;
    z-index: 1;
}

.fa {
    font-size: 14px;
    top: 17px;
}

.m-btm-40 {
    margin-bottom: 40px;
}
.m-btm-30 {
    margin-bottom: 30px;
}
.m-btm-25 {
    margin-bottom: 25px;
}
.m-btm-20 {
    margin-bottom: 20px;
}
.m-btm-10 {
    margin-bottom: 10px;
}
.m-top-30 {
    margin-top: 30px;
}

.password-checkbox {
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.show-password span {
    color: #FFFFFF;
    margin-left: 5px;
}



.submit-btn {
    /*background: #fff;
    border-radius: 2px;
    width: 145px;
    height: 40px;
    font-size: 16px;
    line-height: 22px;
    color: #3982a1;
    transition: all .3s ease;
    border: none;
    box-shadow: 0 16px 24px rgba(52,68,83,0.15);
    cursor: pointer;
    margin: 20px auto 10px;
    display: flex;
    align-items: center;
    text-align: center;*/
    width: 145px;
    height: 40px;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 22px;
    cursor: pointer;
}

.algn-center {
    text-align: center;
}

.another-page {
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.another-page a {
    color: #FFA441;
    text-decoration: none;
    line-height: 1.5;
    text-shadow: white;
}
