<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Здоровый образ жизни</title>
</head>
<body>
<form method="post">
    <!--todo    изменить пароль <input th:value="${password}" name="password"/>-->
    имя <input th:value="${username}" name="name"/>
    вес <input th:value="${weight}" name="weight"/>
    рост <input th:value="${height}" name="height"/>
<!--    др <input type="date" th:value="${birthday}" name="birthday"/> (<span th:text="${userAge}"/> лет)-->
    <div class="input hgt">
        <label>Пол:</label>
        <select name="gender" class="select-2">
            <th:block th:if="${gender == 'M'}">
                <option value="M" selected>мужской</option>
                <option value="F">женский</option>
            </th:block>
            <th:block th:unless="${gender == 'M'}">
                <option value="M">мужской</option>
                <option value="F" selected>женский</option>
            </th:block>
        </select>
    </div>
    <!--    <input th:value="${gender}" name="gender"/>-->
    <input type="submit" value="Сохранить изменения"/>
</form>
</body>
</html>
