<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История ИМТ</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/history.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>
<body>
<div id="preloader">
    <div id="loader">
        <h1>Health</h1>
        <div class="load-wrapper">
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
        </div>
        <div class="drop-shadow"></div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="ball">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                                   result="ball"/>
                    <feBlend in="SourceGraphic" in2="ball"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<div class="wrapper">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="/">Health</a>
            </div>
            <nav id="menu">
                <ul class="main-navigation">
                    <li><a href="/calculator">ИМТ</a></li>
                    <li><a href="/nutrition">Питание</a></li>
                    <li><a href="/">О нас</a></li>
                    <li th:if="${username == null}"><a href="/login" class="login-btn">Вход</a></li>
                    <li th:if="${username == null}"><a href="/register" class="register-btn">Регистрация</a></li>
                    <li th:unless="${username == null}"><a th:text="${username}" href="/my_page" class="login-btn">Имя</a></li>
                    <li th:unless="${username == null}"><a th:href="@{/logout}" class="register-btn">Выйти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <table class="history">
        <thead>
            <tr>
                <th scope="col">Дата</th>
                <th scope="col">Индекс массы тела</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="imb : ${history}">
                <td th:text="${imb.getDate()}">Дата</td>
                <td th:text="${imb.getValue()}">Значение</td>
            </tr>
        </tbody>
    </table>
</div>
<footer>
    <div class="ft-top"></div>
    <div class="ft-bottom">©2021 Health</div>
</footer>

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>