<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Health</title>
	<link rel="stylesheet" href="/styles/main.css">
	<link rel="stylesheet" href="/styles/index.css">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>
<body>
<div id="preloader">
	<div id="loader">
		<h1>Health</h1>
		<div class="load-wrapper">
			<span class="ball"></span>
			<span class="ball"></span>
			<span class="ball"></span>
			<span class="ball"></span>
		</div>
		<div class="drop-shadow"></div>
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
			<defs>
				<filter id="ball">
					<feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
					<feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="ball" />
					<feBlend in="SourceGraphic" in2="ball" />
				</filter>
			</defs>
		</svg>
	</div>
</div>
<div class="wrapper">
	<header id="header">
		<div class="container">
			<div class="logo">
				<div class="word">
					<span>H</span>
					<span>e</span>
					<span>a</span>
					<span>l</span>
					<span>t</span>
					<span>h</span>
				</div>
			</div>
			<nav id="menu">
				<ul class="main-navigation">
					<li><a href="/calculator">ИМТ</a></li>
					<li><a href="/nutrition">Питание</a></li>
					<li class="current"><a href="/">О нас</a></li>
					<li th:if="${username == null}"><a href="/login" class="login-btn">Вход</a></li>
					<li th:if="${username == null}"><a href="/register" class="register-btn">Регистрация</a></li>
					<li th:unless="${username == null}"><a th:text="${username}" href="/my_page" class="login-btn">Имя</a></li>
					<li th:unless="${username == null}"><a th:href="@{/logout}" class="register-btn">Выйти</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<nav class="nav">
		<a class="nav__item" href="#header" title="Начало"></a>
		<a class="nav__item" href="#about-us" title="О нас"></a>
		<a class="nav__item" href="#footer"></a>
	</nav>
	<div id="intro" class="intro">
		<div class="content">
			<h1>Our awesome app will make your life a lot easier</h1>
			<a class="drop-down" href="#about-us"></a>
		</div>
	</div>
	<section id="about-us">
		<div class="title">
			<h2 class="h2">О нас</h2>
			<p>Сегодня жизнь каждого человека наполнена заботами, в которых мы забываем следить за самым важным, что у нас есть — здоровьем. Наша цель — помочь Вам в этом.</p>
		</div>

		<div class="contain">
			<ul class="list">
				<li class="item">
					<img class="icon" src="/styles/images/icon/water.svg">
					<h4>Питье</h4>
					<p>Отслеживайте, выпиваете ли Вы ежедневную норму жидкости.</p>
				</li>
				<li class="item">
					<img class="icon" src="/styles/images/icon/food.svg">
					<h4>Питание</h4>
					<p>Отмечайте, какие продукты Вы употребляете во время каждого приема пищи.</p>
				</li>
				<li class="item">
					<img class="icon" src="/styles/images/icon/weight.svg">
					<h4>Вес</h4>
					<p>Отслеживайте ежедневный прогресс в изменении своего веса.</p>
				</li>
				<li class="item">
					<img class="icon" src="/styles/images/icon/balance.svg">
					<h4>ИМТ</h4>
					<p>Проверяйте индекс массы тела, чтобы оценить степень соответствия веса Вашему росту.</p>
				</li>
				<li class="item">
					<img class="icon" src="/styles/images/icon/sport.svg">
					<h4>Спорт</h4>
					<p>Следите за Вашей ежедневной активностью: тренировки, пробежка, прогулка...</p>
				</li>
				<li class="item">
					<img class="icon" src="/styles/images/icon/sleep.svg">
					<h4>Сон</h4>
					<p>Отмечайте время и продолжительность сна. Сон дороже лекарства.</p>
				</li>
			</ul>
		</div>
	</section>
</div>
<footer id="footer">
	<div class="ft-top"></div>
	<div class="ft-bottom">©2021 Health</div>
</footer>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>
