<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/register.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>

<div id="preloader">
    <div id="loader">
        <h1>Health</h1>
        <div class="load-wrapper">
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
        </div>
        <div class="drop-shadow"></div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="ball">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="ball" />
                    <feBlend in="SourceGraphic" in2="ball" />
                </filter>
            </defs>
        </svg>
    </div>
</div>
<div class="wrapper">
    <div class="login-page">
        <div th:if="${hasError}" class="error">Ошибка! Введены неверные данные.
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        </div>
        <form id="sign-form" th:action="@{/login}" method="post">
            <h2 class="form-title">Вход</h2>
            <label class="lblInp m-btm-40" for="username">
                <input type="text" class="input" name="username" id="username" readonly onfocus="this.removeAttribute('readonly')"/>
                <label for="username">Логин</label>
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </label>
            <label class="lblInp m-btm-20" for="password">
                <input type="password" class="input" name="password" id="password"/>
                <label for="password">Пароль</label>
                <i class="fa fa-lock" aria-hidden="true"></i>
            </label>
            <label class="show-password">
                <input type="checkbox" class="password-checkbox">
                <span>Показать пароль</span>
            </label>
            <div class="algn-center">
                <input type="submit" class="submit-btn" value="Войти"/>
                <p class="another-page">Забыли пароль?
                    <a th:href="@{/reset}">Восстановление</a>
                </p>
                <p class="another-page">Нет аккаунта?
                    <a href="/register">Регистрация</a>
                </p>
                <p class="another-page">
                    <a href="/">Главная страница</a>
                </p>
            </div>
        </form>
    </div>
</div>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>