<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/profile.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
</head>
<body>
<div id="preloader">
    <div id="loader">
        <h1>Health</h1>
        <div class="load-wrapper">
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
        </div>
        <div class="drop-shadow"></div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="ball">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                                   result="ball"/>
                    <feBlend in="SourceGraphic" in2="ball"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<div class="wrapper">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="/">Health</a>
            </div>
            <nav id="menu">
                <ul class="main-navigation">
                    <li><a href="/calculator">ИМТ</a></li>
                    <li><a href="/nutrition">Питание</a></li>
                    <li><a href="/">О нас</a></li>
                    <li th:if="${username == null}"><a href="/login" class="login-btn">Вход</a></li>
                    <li th:if="${username == null}"><a href="/register" class="register-btn">Регистрация</a></li>
                    <li th:unless="${username == null}"><a th:text="${username}" href="/my_page" class="login-btn">Имя</a></li>
                    <li th:unless="${username == null}"><a th:href="@{/logout}" class="register-btn">Выйти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="profile-wrapper">
        <div class="profile">
            <div class="left-block">
                <div class="image">
                    <div class="circle-1"></div>
                    <div class="circle-2"></div>
                    <img src="/styles/images/male.png" width="70" height="70">
                </div>

                <div class="name">
                    <label th:text="${username}">Имя</label>
                </div>
                <div class="age">
                    <label th:text="${gender}">Пол</label>, <label th:text="${age}">Возраст</label> лет
                </div>

                <div class="actions">
                    <a href="/my_page/change_info" class="btn">Изменить данные</a>
                    <a href="/reset" class="btn">Восстановить пароль</a>
                </div>
            </div>

            <div class="stats">
                <div class="box">
                    <span class="value"><label th:text="${login}">Логин</label></span>
                    <span class="parameter">Логин</span>
                </div>
                <div class="box">
                    <span class="value"><label th:text="${height}">Рост</label></span>
                    <span class="parameter">Рост</span>
                </div>
                <div class="box">
                    <span class="value"><label th:text="${weight}"></span>
                    <span class="parameter">Вес</span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="ft-top"></div>
    <div class="ft-bottom">©2021 Health</div>
</footer>

<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>