<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Питание</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/nutrition.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
<div id="preloader">
    <div id="loader">
        <h1>Health</h1>
        <div class="load-wrapper">
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
            <span class="ball"></span>
        </div>
        <div class="drop-shadow"></div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="ball">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur"/>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7"
                                   result="ball"/>
                    <feBlend in="SourceGraphic" in2="ball"/>
                </filter>
            </defs>
        </svg>
    </div>
</div>
<div class="wrapper">
    <header id="header">
        <div class="container">
            <div class="logo">
                <a href="/">Health</a>
            </div>
            <nav id="menu">
                <ul class="main-navigation">
                    <li><a href="/calculator">ИМТ</a></li>
                    <li class="current"><a href="/nutrition">Питание</a></li>
                    <li><a href="/">О нас</a></li>
                    <li th:if="${username == null}"><a href="/login" class="login-btn">Вход</a></li>
                    <li th:if="${username == null}"><a href="/register" class="register-btn">Регистрация</a></li>
                    <li th:unless="${username == null}"><a th:text="${username}" href="/my_page"
                                                           class="login-btn">Имя</a></li>
                    <li th:unless="${username == null}"><a th:href="@{/logout}" class="register-btn">Выйти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="categories-wrapper">
        <div>Текст</div>

        <div class="design-example">
            <form method="post">
                <label class="radio">
                    <input th:if="${chosenTime == 'morning'}" type="radio" name="dayTime" value="morning" checked/>
                    <input th:unless="${chosenTime == 'morning'}" type="radio" name="dayTime" value="morning"/>
                    <span>Утро</span>
                </label>
                <label class="radio">
                    <input th:if="${chosenTime == 'day'}" type="radio" name="dayTime" value="day" checked/>
                    <input th:unless="${chosenTime == 'day'}" type="radio" name="dayTime" value="day"/>
                    <span>День</span>
                </label>
                <label class="radio">
                    <input th:if="${chosenTime == 'evening'}" type="radio" name="dayTime" value="evening" checked/>
                    <input th:unless="${chosenTime == 'evening'}" type="radio" name="dayTime" value="evening"/>
                    <span>Вечер</span>
                </label>
                <input type="submit" value="Выбрать" class="sbmt-btn"/>
            </form>

            <div>
                <table>
                    <tr th:each="product, iter : ${products}">
                        <td>
                            <form method="post">
                                <span th:text="${product.getName()}"></span>
                                <span th:text="${nutritions[iter.index].getMassa()}"></span>
                                <span>гр.</span>
                                <input type="hidden" name="deleteId" th:value="${nutritions[iter.index].getId()}"/>
                                <input type="hidden" name="dayTime" th:value="${chosenTime}"/>
                                <input type="submit" value="X"/>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/alcohol">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/alcohol.jpg)">
                        <div class="inner">
                            <p>Алкоголь</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Абсент, бренди, вино, виски, водка, глинтвейн, коктейли, коньяк, ликер...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/mushroom">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/mushroom.jpg)">
                        <div class="inner">
                            <p>Грибы</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Белые грибы, грузди, дождевики, лисички, маслята, опята, подберезовики, шампиньоны...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/sausage">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/sausage.jpg)">
                        <div class="inner">
                            <p>Колбасы</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Колбасы, колбаски, кровянка, салями, сардельки, сосиски...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/confectionery">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/confectionery.jpg)">
                        <div class="inner">
                            <p>Кондитер-ские изделия</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Батончики, варенье, вафли, драже, желе, зефир, кексы, козинак, конфеты, мармелад,
                                печенье...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/porridge">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/porridge.jpg)">
                        <div class="inner">
                            <p>Крупы</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Горох, гречка, манка, мюсли, овсянка, отруби, рис, толокно, фасоль, ячмень...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/butter">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/butter.jpg)">
                        <div class="inner">
                            <p>Масла</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Жир, маргарин, масло, спред...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/dairy">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/dairy_products.jpg)">
                        <div class="inner">
                            <p>Молоч-ные изделия</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Йогурт, кефир, молоко, простокваша, ряженка, сгущенка, сливки, сметана...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/ice_cream">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/ice_cream.jpg)">
                        <div class="inner">
                            <p>Мороже-ное</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Крем-брюле, молочное, пломбир, сливочное...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/flour">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/flour.jpeg)">
                        <div class="inner">
                            <p>Мучные изделия</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Блины, вареники, макароны, мука, пельмени...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/meat">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/meat.jpg)">
                        <div class="inner">
                            <p>Мясные изделия</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Бекон, ветчина, котлеты, мясо, наггетсы, паштет, сало, фарш...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/soft_drink">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/soft_drink.jpg)">
                        <div class="inner">
                            <p>Напитки</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Газированные напитки, какао, кофе, лимонад, цикорий, чай, энергитические напитки...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/vegetable">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/vegetables.jpg)">
                        <div class="inner">
                            <p>Овощи и зелень</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Баклажаны, бобы, горох, кабачок, капуста, картофель, кукуруза, лук, маслины,
                                морковь...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/nut">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/nuts.jpg)">
                        <div class="inner">
                            <p>Орехи и сухо-фрукты</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Арахис, грецкие орехи, изюм, инжир, каштан, кедровые орехи, кешью, курага...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/condiment">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/condiment.jpg)">
                        <div class="inner">
                            <p>Приправы</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Аджика, анис, бадьян, базилик, ваниль, горчица, дрожжи, жасмин, желатин, имбирь...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/fish">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/fish.png)">
                        <div class="inner">
                            <p>Рыба</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Акула, анчоус, вобла, водоросли, горбуша, икра, кальмар, карась, карс, крабовые палочки,
                                креветки...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/snacks">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/snacks.jpg)">
                        <div class="inner">
                            <p>Снеки</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Попкорн, соломка, сухарики, чипсы...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/juice">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/juice.jpg)">
                        <div class="inner">
                            <p>Соки и компоты</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Кисель, компот, нектар, сок...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/cheese">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/cheese.jpg)">
                        <div class="inner">
                            <p>Сыр и творог</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Сыр, сырки, творожная сыворотка, творог, тофу...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/cake">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/cake.jpg)">
                        <div class="inner">
                            <p>Торты</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Крем-брюле, медовый, слоенный, творожный, фруктовый, ягодный...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/fruit">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/fruits.jpg)">
                        <div class="inner">
                            <p>Фрукты</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Абрикос, авокадо, айва, алыча, ананас, апельсин, арбуз, вишня, гранат, грейпфрут, груша,
                                гуава, дыня...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/bakery">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/bakery.jpg)">
                        <div class="inner">
                            <p>Хлебо-булочные изделия</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Багет, баранки, батон, бублики, булочки, гренки, лаваш, пицца, хлеб, хлебцы...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/chocolate">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/chocolate.jpg)">
                        <div class="inner">
                            <p>Шоколад</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Белый, молочный, черный...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/berry">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/berries.jpg)">
                        <div class="inner">
                            <p>Ягоды</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Брусника, виноград, голубика, ежевика, земляника, клубника, малина, смородина,
                                черника...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <a href="/nutrition/egg">
                <div class="container">
                    <div class="front" style="background-image: url(/styles/images/category/eggs.jpg)">
                        <div class="inner">
                            <p>Яйца</p>
                            <!--<span>Текст</span>-->
                        </div>
                    </div>
                    <div class="back">
                        <div class="inner">
                            <p>Омлет, яичница, яйца...</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<footer>
    <div class="ft-top"></div>
    <div class="ft-bottom">©2021 Health</div>
</footer>
<script src="../js/jquery-1.11.3.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>