<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:each="product : ${products}">
        <td>
            <a th:text="${product.getName()}" th:href="@{'/nutrition/product/' + ${product.getId()}}">Наименование</a>
        </td>
    </tr>
</table>
</body>
</html>